@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montserratthin";
  src: url("./fonts/montserrat-variablefont_wght-webfont.woff2") format('woff2'),
       url("./fonts/montserrat-variablefont_wght-webfont.woff") format('woff');
  font-weight: 900;
  font-style: normal;
}

body {
  /*font-family: "montserratthin";*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}